form#commentform p.form-allowed-tags {
	display:none;
}
input,
#comments textarea {
	width:100% !important;
	min-height:35px;
	padding-left:em(10);
	padding-right:em(10);
	color:$brand-dark;
	margin:0 !important;
	border:1px solid $brand-dark;
	background:#fff;
	&:focus {
		border:1px solid $colone;
	}
}
input[type=submit] {
	float:right;
	width:auto !important;
	border:none;
	color:#fff;
	display:block;
	background:$colone;
	margin:em(8) 0 em(30) 0 !important;
}