nav ul {
	list-style-type:none;
	padding:0;
	margin-top:em(26);
	@include bp(desktop) {
		float:right;
	}
	li {
		display:inline;
		border-right:1px solid #C7C6C6;
		a {
			display:inline-block;
			text-decoration:none;
			font-size:em(20);
<<<<<<< HEAD
			margin:0 em(10);
			border-bottom:1px solid #fff;
			@include bp(desktop) {
				margin:0 em(16);
			}
			&:hover {
				color:$coltwo;
				border-bottom:1px solid $coltwo;
			}
			@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
				margin:0 em(10);
			}
		}
		&.current_page_item a,
		&.current-page-ancestor a {
			color:$coltwo;
			border-bottom:1px solid $coltwo;
=======
			padding:0 em(14);
			@include bp(desktop) {
				padding:0 em(16);
			}
>>>>>>> FETCH_HEAD
		}
		&:last-child {
			border:none;
			a {
<<<<<<< HEAD
				margin-right:0;
=======
				padding-right:0;
>>>>>>> FETCH_HEAD
			}
		}
	}
}

