// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 940px;

// Text Selection
$selectionColor: orange;

// Other
$brand-dark:#706F6F;
$brand-two:#009f9a;
$lightergrey:#F3F3F3;
$lightgrey: #C6C6C6;

// Colours
$colone: #00A099;
	$colonedark:#107c77;
$coltwo:#8A599F;
	$coltwodark:#6a477a;
$colthree:#706F6F;
	$colthreedark:#575656;

// Links
$linkColor: $brand-dark;
$linkHoverColor: #08BAE6;

// Path to images
// Use #{$assetPath}/
$assetPath : "assets/images";
